<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold mb-4">Your Cart</h2>
    <div *ngFor="let item of cartItems" class="flex items-center justify-between mb-4 p-4 border rounded">
        <div class="flex items-center">
            <img [src]="item.product.prodImage" alt="{{item.product.prodName}}" class="w-16 h-16 object-cover mr-4">
            <div>
                <h3 class="text-lg font-semibold">{{item.product.prodName}}</h3>
                <p class="text-gray-700">Quantity: {{item.quantity}}</p>
            </div>
        </div>
        <p class="text-lg font-semibold">₹{{ getProductPrice(item) }}/-</p>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            (click)="removeFromCart(item.product._id)">
            Remove
        </button>
    </div>
    <div class="flex justify-end mt-6">
        <h3 class="text-xl font-bold">Total: ₹{{ totalPrice }}/-</h3>
    </div>
    <div class="flex justify-end mt-6">
        <!-- <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            (click)="navigateToCheckout()">
            Checkout
        </button> -->

        <a routerLink="/checkout"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 mx-2 rounded">Checkout</a>
    </div>
</div>